<h2>{{this.name}}</h2>
<p class="notes">{{this.hint}}</p>
<div class="form-group">
    <label>Presets</label>
    <select class="cover-preset">
        {{selectOptions @root.data.coverPresets labelAttr="label"}}
    </select>
    <p class="notes">Apply a preset configuration for the Cover Levels</p>
</div>
<div class="form-group">
    <div class="athenaeum-table cover-levels-table">
        <div class="athenaeum-table-header flexrow">
            <div class="cover-title">Name</div>
            <div class="cover-ac-bonus">AC Bonus</div>
            <div class="cover-controls flexrow">
                <a class="cover-control" title="Add Cover Level" data-action="add">
                    <i class="fas fa-plus"></i> Add
                </a>
            </div>
        </div>
        <ul class="athenaeum-table-body" id="scc-cover-levels-settings-body">
        </ul>
    </div>
</div>
