.cover-calc .dice-result .desc {
    background-color: rgb(208 208 215);
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    width: fit-content;
    top: -45px;
    border: 1px solid black;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

.cover-calc .dice-formula:hover .desc {
    display: block;
}

.cover-calc .cover-button img {
    width: 2em;
    margin-bottom: -10px;
    border: none;
    float: left;
    opacity: 0.3;
    margin-right: -100%;
}

/* Cover Settings */
.athenaeum-table.cover-levels-table .cover-title {
    flex: 0 0 50%;
}

.athenaeum-table.cover-levels-table .cover-ac-bonus {
    padding: 0 35px;
}

.athenaeum-table.cover-levels-table .cover-controls {
    padding-left: 40px !important;
}

.athenaeum-table.cover-levels-table .cover-controls .cover-control.cover-control-disabled {
    color: #858585;
    cursor: unset;
}

.athenaeum-table.cover-levels-table .cover-controls a {
    flex-grow: 0;
    white-space: nowrap;
}

.athenaeum-table.cover-levels-table .athenaeum-table-header .cover-controls {
    justify-content: flex-end;
}

.athenaeum-table.cover-levels-table .athenaeum-table-body .athenaeum-table-row .cover-controls {
    justify-content: space-between;
}

/* Cover Level Config */
.cover-level-config .cover-partials .form-group {
    justify-content: space-between;
}

.cover-level-config .cover-partials button {
    margin-top: 10px;
}

/* Token Size Cover Level Config */
.athenaeum-table.token-cover-table .athenaeum-table-header > *:last-child,
.athenaeum-table.token-cover-table .athenaeum-table-body .athenaeum-table-row > *:last-child {
    text-align: center !important;
}
